
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "About Us";
}

<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>About Us<br></h1> 
                </div>
            </div>
        </div>
    </div> 
</div><!-- End Page Title -->
<!-- About Us Section -->
<section id="about-us" class="section about-us">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Content/web_template/img/about-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Reading skills for early learners</h3>
                <p class="fst-italic">
                    Our reading worksheets help young learners develop essential reading skills and understanding. We cover phonics, sentence and paragraph building, and engaging stories with accompanying comprehension activities. Our stories are designed to reinforce key comprehension concepts like main idea and sequencing.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Comprehensive approach: Covers phonics, sentence structure, and comprehension.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Strong foundation: Builds on phonics to develop reading skills.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Engaging content: Uses children's stories to make learning fun.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Skill development: Targets specific comprehension skills.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Empowerment: Helps children become confident readers.</span></li>

                </ul>
            </div>

        </div> 

    </div>

</section><!-- /About Us Section --> 