@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Home Page";
}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="~/Content/web_template/img/bg-home-2.gif" alt="" data-aos="fade-in">

    <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">Learning Today,<br>Leading Tomorrow</h2>
        <p data-aos="fade-up" data-aos-delay="200">&nbsp;</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="@Url.Action("Login", "Account")" class="btn-get-started">Get Started</a>
        </div>
    </div>

</section><!-- /Hero Section --> 