@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<label for="inputText">Type it!</label>
<br />
<textarea id="inputText" class="form-control" rows="5" style="width:100%;"></textarea>
<br />
<button id="playAudio" type="button"
        class="btn btn-primary btn-lg btn-block">
    Say it!
</button>
<div id="divAudio_Player" class="hidden">
    <audio id="audio_player">
        <source id="audio_player_wav" src="@Url.Action(" PlayTextArea", "Home" , new { text="type something in first" })" type="audio/mp3" />
        <embed height="50" width="100"
               src="@Url.Action("PlayTextArea", "Home",
                new { text = "type something in first" })">
    </audio>
</div>


@section Scripts {
<script type="text/javascript">
    $(function () {
    $('#playAudio').click(function () {
        var newUrl = '@Url.Action("PlayTextArea", "Home")?text=' + encodeURIComponent($('#inputText').val());

        var new_audio = $(this).attr('rel');
        var source = '<audio id="audio_player">';
        source += '<source id="audio_player_wav" src="' + newUrl + '" type="audio/mp3" />';
        source += '</audio>';
            //play it
        setTimeout(function() {
                    $('#divAudio_Player').html(source);
            var aud = $('#audio_player').get(0);
            aud.play();
        }, 500);
    });
});
</script>
    }